/models/MedViT/__pycache__

/models_training/__pycache__
/models_training/MedViT/__pycache__
/models_training/data
/models_training/MedViT/pretrained/*
/models_training/*/output/*

/models_explainability/__pycache__
/models_explainability/*_attributions/*
/models_explainability/adversarial_examples/*
/models_explainability/adversarial_explanations/*

/models_explainability/tables/agreement_visualizations

*.zip

/drive/token.json
